body {
  height: 100vh;
  background-image: url("~/images/BGresized-min.png");
  background-position: top right;
  background-size: 1600px 1600px;
  background-repeat: no-repeat;
  background-color: #380618;
}
/* added this so we can see the text on the background */
header,
h1,
p,
.nav-link {
  color: white;
}
.login-block {
  width: auto;
  margin: auto;
  padding: 50px 0;
  height: auto;
}
.banner-sec {
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}
.carousel-inner > .item {
  border-radius: 0 10px 10px 0;
}
.carousel-caption {
  text-align: left;
  left: 5%;
}
.tanBox {
  background: #d5c9bd;
  border-radius: 10px;
  width: auto;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.5);
}
.login-sec {
  padding: 50px 30px;
  position: relative;
}
.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #883d39;
}
.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #883d39;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.btn-login {
  background: #883d39;
  color: #fff;
  font-weight: 600;
}
.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}
.banner-text h2 {
  color: #fff;
  font-weight: 600;
}
.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #fff;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}
.banner-text {
  color: white !important;
  text-shadow: 2px 2px 1px #000;
  background-color: rgba(48, 47, 47, 0.377);
}
/* responsive logo. backgroung image still needs to fill botom when made to be responsive */
.responsive {
  max-width: 100%;
  height: 100%;
}
.paraStyle {
  color: white !important;
  text-shadow: 4px 4px 2px #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: xx-large;
}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #93bab9;
  padding: 0px 0px;
}
/* Style the header links */
.header a.nav-link {
  float: left;
  color: #380618;
  text-align: center;
  padding: 25px;
  font-weight: bold;
  font-size: 36px;
  line-height: 25px;
  border-radius: 0px;
}
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  text-decoration: none;
  float: left;
  font-size: 50px;
  font-family: "Monoton", cursive;
  background-color: #93bab9;
  border-radius: 0px;
  color: #380618;
}
/* Change the background color on mouse-over */
.header a:hover {
  background-color: #380618;
  color: #93bab9;
}
/* Style the active/current link*/
.header a.active {
  background-color: #380618;
  color: #93bab9;
}
/* Float the link section to the right */
.header-right {
  float: right;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.flex-container {
  height: calc(100vh - 75px);
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainSection {
  height: 100%;
}
.cover-container {
  height: 100%;
}
#root {
  height: 100vh;
}
.backGround {
  height: 100vh;
}
.imageButton {
  background: none;
  border: 0;
  border-radius: 50;
}
.imageButton :active {
  transform: translateY(4px);
}
.buzzList {
  color: #380618;
  background-color: #93bab9;
  box-shadow: 2px 2px 5px #380618;
  text-shadow: 2px 2px 5px #506464;
  font-size: 18;
  font-weight: bold;
}
.buzzListButton {
  color: #93bab9;
  background-color: #380618;
  box-shadow: 2px 2px 5px #506464;
}
.imageButton :active {
  transform: translateY(4px);
}
.notFound {
  color: #93bab9;
  text-shadow: 2px 2px 1px #000;
}
.carousel-item img {
  max-width: 100vh;
}
